/* Contenedor principal que alinea los grupos de filtros */
.contenedorFiltros {
  display: flex;
  gap: 2rem;
  width: 100%;
  margin: 0; 
  width: auto;
}

/* Grupo individual (Label + Select) */
.grupoFiltro {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  min-width: 180px;
}

/* Estilo para los textos "Género" y "Tipo" */
.label {
  font-size: 0.9rem;
  font-weight: 700;
  color: #071230db;  
}

/* El select hereda los estilos globales, pero le aseguramos el ancho completo de su contenedor */
.select {
  width: 100%;
  cursor: pointer;
}

/* Diseño responsivo para celulares */
@media (max-width: 480px) {
  .contenedorFiltros {
    flex-direction: column;
    gap: 1rem;
  }
}
