/* --- ESTRUCTURA GENERAL --- */
.container {
  width: 100%;
  max-width: 20000px; 
  margin: 0 auto;
  padding: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #b4d9ea; 
  min-height: 100vh;
}



/* ESPACIO PARA FILTROS  */
.zonaFiltros {
  background: rgba(76, 139, 197, 0.521);
  border: 2px solid #a5b0bd;
  border-radius: 15px;
  padding: 25px;
  margin-bottom: 30px;
  text-align: center;
  color: #2c536f;
  font-style: italic;
}

/* --- BOTONES Y UTILIDADES --- */
.botonPrueba {
  background-color: #3a6fc3;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  margin-bottom: 20px;
  transition: transform 0.2s, background-color 0.2s;
}

.botonPrueba:hover {
  transform: scale(1.05);
  background-color: #103b8b;
}

/* --- EL DASHBOARD (LISTAS EN PARALELO) --- */
.dashboardListas {
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: flex-start;
  width: 100%;
}

/* (Contenido Por Ver y Visto) */
.columna {
  flex: 1;
  min-width: 300px;
  background: rgb(19, 24, 35); 
  border: 2px solid #c4bafa;
  border-radius: 20px;
  padding: 30px; 
}

.headerListaPorVer h2, 
.headerListaVisto h2 {
  background-color: #1b5ec2;
  color: #ffffff;
  padding: 12px;
  border-radius: 12px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.1rem;
  margin-bottom: 15px;
  border: 2px solid #333;
}

/* SECCIÓN DE ESTADÍSTICAS */
.stats {
  background: #90adc9ea;
  margin-bottom: 20px;
  padding: 12px;
  border-radius: 10px;
  font-size: 0.85rem;
  line-height: 1.5;
  color: #0f0c45;
}

.stats strong {
  color: #01121e;
}

/* CONTENEDOR DE TARJETAS */
.listadoCards {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* MENSAJES DE ESTADO VACÍO */
.mensajeVacio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
  color: #ffffff; 
  text-align: center;
  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 15px;
  margin-top: 20px;
}

/* --- SECCIÓN DE FILTROS  --- */
.seccionFiltros {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px; 
  margin: 0 auto 20px auto;   
}

.flexFiltros {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 15px;
  flex-wrap: wrap;
}

/*  RESPONSIVE (Ajustes para celulares) */
@media (max-width: 900px) {
  .dashboardListas {
    flex-direction: column;
  }
  
  .columna {
    width: 100%;
    min-height: auto;
  }

  .flexFiltros {
    flex-direction: column;
    align-items: center;
  }
}