/* --- ESTRUCTURA GENERAL --- */
.container {
  max-width:200%;  
  width: 100%;     /* Pero con un tope para que no se deforme en monitores gigantes */
  margin: 0 auto;
  padding: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #bfdce9; /* color de fondo suave */
  min-height: 100vh;
}

/* ESPACIO PARA FILTROS (Tarea de Abril) */
.zonaFiltros {
  background: rgb(151, 195, 239); /*color de buscado*/
  border: 2px solid #a5b0bd;
  border-radius: 15px;
  padding: 25px;
  margin-bottom: 30px;
  text-align: center;
  color: #2c536f; /*letra de buscador*/
  font-style: italic;
  box-shadow: 4px 4px 0px rgba(255, 255, 255, 0.1);
}

/* --- BOTONES Y UTILIDADES --- */
.botonPrueba {
  background-color: #3a6fc3; /*color de boton agregar*/
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 20px;
  transition: transform 0.2s;
}

.botonPrueba:hover {
  transform: scale(1.05);
  background-color: #103b8b;
}

/* --- EL DASHBOARD (LISTAS EN PARALELO) --- */
/* 2. Aseguramos que el dashboard ocupe el 100% del contenedor */
.dashboardListas {
  display: flex;
  flex-direction: row;
  gap: 60px;           /* Aumentamos un poco el espacio entre columnas */
  align-items: flex-start;
  width: 100%;         /* Forzamos a que use todo el ancho disponible */
}


/* CADA COLUMNA (Contenido Por Ver y Visto) */
/*Ajustamos las columnas para que crezcan */
.columna {
  flex: 1;           /* Esto hace que se repartan el 50% cada una */
  min-width: 40px;
  background: rgb(19, 24, 35); /*color de fondo de las listas*/
  border: 2px solid #c4bafa;
  border-radius: 20px;
  padding: 50px; /* Más aire adentro de la caja */
}

.headerListaPorVer h2, 
.headerListaVisto h2 {
  background-color: #1b5ec2;
  color: #ffffff;
  padding: 12px;
  border-radius: 12px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.1rem;
  margin-bottom: 15px;
  border: 2px solid #333;
}

/* SECCIÓN DE ESTADÍSTICAS */
.stats {
  background: #bfd6ec;
  margin-bottom: 20px;
  padding: 12px;
  border-radius: 10px;
  font-size: 0.85rem;
  line-height: 1.5;
  color: #4a4c53;
}

.stats strong {
  color: #787878;
}

/* CONTENEDOR DE TARJETAS */
.listadoCards {
  display: flex;
  flex-direction: column;
  gap: 15px; /* Espacio vertical entre tarjetas */
}

/* MENSAJES DE ESTADO VACÍO (El Pochoclo 🍿) */
.mensajeVacio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
  color: #000000;
  text-align: center;
  font-style: italic;
  background: rgba(0,0,0,0.02);
  border-radius: 15px;
  margin-top: 20px;
}

/* --- RESPONSIVE --- */
@media (max-width: 900px) {
  .dashboardListas {
    flex-direction: column; /* Se apilan en celulares */
  }
  
  .columna {
    width: 100%;
    min-height: auto;
  }
}